p{
    font-family: Roboto, Ariel;
    margin-top: 0;
    margin-bottom: 0;;
 }

 body{

    margin: 0;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    padding-bottom: 20px;
    background-color: #f9f9f9;
 }

 a:link,
 a:visited
 {
   text-decoration: none;
   color: initial;
 }